@import 'styles/shared';

.content {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 16px;
  box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.04);
  margin: 16px 0;
  width: 100%;
}

.avatar {
  width: 50px;
  margin-right: 16px;
}

.info-container {
  margin-right: 16px;
  width: 100%;

  .login {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.31;
    color: #4d4f5c;
    margin-bottom: 0;
  }
}
