@import 'styles/shared';

.button {
  left: 0;
  bottom: 0;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 32px;
  border-radius: 4px;
  background-color: #43425d;
  border-style: none;
  font-weight: normal;
  cursor: pointer;
  color: $color-white;
  font-size: 12px;
  line-height: 1.75;

  &:disabled {
    background-color: $color-dark-grey;
  }
}
