@import 'styles/shared';

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $mobile-padding;
  @include media-breakpoint-up(md) {
    max-width: 994px;
    padding: $tablet-padding;
  }
  @include media-breakpoint-up(lg) {
    width: 994px;
    padding: $desktop-padding;
  }
}

.playoff {
  width: 100%;

  .playoff-creator {
    width: 100%;

    .playoff-title {
      width: 100%;
    }

    .playoff-score {
      display: grid;
      grid-template-columns: 3fr 1fr 3fr;
      grid-gap: 16px;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}

.input {
  width: 100%;
  select {
    margin: 10px 0;
    width: 100%;
    height: 48px;
    border: 1px solid $color-light-grey;
    border-radius: 4px;
    color: #6f6f6f;
    &:focus {
      outline: none;
    }
  }
}
.button {
  width: 100%;
}
.errorMessage {
  p {
    color: $error-red;
    font-size: 16px;
    max-width: 520px;
    margin: 0;
    padding: 0;
  }
}
