@import 'styles/shared';

.container {
  max-width: $nav-wrapper-width;
  margin: 0 auto;
  padding: 0 16px 64px;
  @include media-breakpoint-up(md) {
    padding: 0 32px 80px;
    max-width: $nav-wrapper-width;
  }

  @include media-breakpoint-up(lg) {
    padding: 0 64px 120px;
  }

  .title {
    display: flex;
    justify-content: center;
    margin: 0 16px;
  }

  .description {
    display: flex;
    justify-content: center;
    margin: 0 16px;
    text-align: justify;
    text-justify: distribute;
  }

  .info-container {
    display: flex;
    justify-content: flex-end;
    margin: 0 16px;

    .info {
      max-width: 300px;

      div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
      }

      .header {
        text-align: right;
      }

      .value {
        text-align: left;
      }
    }
  }

  .button-container {
    margin: 0 16px;

    button {
      margin: 16px 0;
    }
  }
  .archived {
    color: $color-red;
    text-align: center;
  }
}
.modal {
  overflow: auto;
  outline: none;
  margin: $modal-margin;
  padding: $mobile-modal-padding;

  @include media-breakpoint-up(md) {
    padding: $tablet-modal-padding;
    max-width: $nav-wrapper-width;
  }

  @include media-breakpoint-up(lg) {
    padding: $desktop-modal-padding;
  }
}
.image-container {
  position: relative;
  max-width: $nav-wrapper-width;
  margin: 0 auto;
  .image {
    padding-bottom: 40px;
    img {
      width: 100%;
      max-height: 200px;
      object-fit: cover;
    }
  }

  .back-button {
    position: absolute;
    padding-left: 16px;
    top: 85px;
    @include media-breakpoint-up(md) {
      padding-left: 32px;
    }

    @include media-breakpoint-up(lg) {
      padding-left: 64px;
    }
  }
}
