@import 'styles/shared';

.container {
  width: 100%;
  box-shadow: $modal-box-shadow;
  background-color: $color-white;
  padding: 8px;
  overflow: scroll;
  max-height: $mobile-modal-max-height;
  @include media-breakpoint-up(md) {
    max-height: $tablet-modal-max-height;
  }

  @include media-breakpoint-up(lg) {
    max-height: $desktop-modal-max-height;
  }
}
.errorMessage {
  p {
    color: $error-red;
    font-size: 16px;
    max-width: 520px;
    margin: 0;
    padding: 0;
  }
}
