$grid-breakpoints: (
  sm: 0,
  md: 768px,
  lg: 1440px
);
// new
$color-white: white;
$color-grey: #f5f5f7;
$color-dark-grey: #b0b0b2;
$color-light-grey: #e4e4ea;
$color-dark-violet: #43425d;
$color-dark-dark-violet: #3c3b53;
$color-violet: #a3a0fb;
$color-red: #db0000;
$error-red: #ff0000;
$nav-wrapper-width: 994px;
// old
$color-blue: #18aeb4;
$font-color: #525257;
$link-color: #0056b2;
$link-color-visited: #003063;
$color-dark-white: #f9f9f9;
$z-index-lp-image: -1;
$z-index-navigation: 1;
$z-index-cookie-consent: 10;
$mobile-padding-top: 16px;
$tablet-padding-top: 48px;
$desktop-padding-top: 64px;
$mobile-padding-bottom: 64px;
$tablet-padding-bottom: 80px;
$desktop-padding-bottom: 120px;
$mobile-padding: 16px 16px 64px;
$tablet-padding: 48px 32px 80px;
$desktop-padding: 64px 64px 120px;
$modal-margin: 40px auto;
$mobile-modal-padding: 16px 16px 16px;
$tablet-modal-padding: 48px 32px 16px;
$desktop-modal-padding: 64px 64px 16px;
$mobile-modal-max-height: calc(100vh - 112px);
$tablet-modal-max-height: calc(100vh - 176px);
$desktop-modal-max-height: calc(100vh - 208px);
$modal-box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.15);
$font: 'Niramit', sans-serif;
$font-bold: 'Niramit', sans-serif;
