@import 'styles/shared';

.container {
  margin: 0 auto;
  padding: $mobile-padding;
  @include media-breakpoint-up(md) {
    max-width: 994px;
    padding: $tablet-padding;
  }
  @include media-breakpoint-up(lg) {
    width: 994px;
    padding: $desktop-padding;
  }
}

.user-panel {
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid gray;
  margin-bottom: 16px;
  padding-bottom: 16px;
  .back-button {
    width: auto;
    padding-right: 16px;
  }

  .login {
    margin: 0;
  }
}

.new-message {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  .new-message-field {
    position: relative;
    img {
      position: absolute;
      top: 24px;
      right: 14px;
      cursor: pointer;
    }
    .input {
      width: 100%;

      input {
        width: 100%;
      }
    }
  }
}
