@import 'styles/shared';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 994px;
  margin: 0 auto;
  padding-top: 64px;
  width: calc(100% - 16px);
  @include media-breakpoint-up(md) {
    width: 75%;
  }

  @include media-breakpoint-up(lg) {
    width: 50%;
  }
}

.icon {
  width: 80px;
}

.text {
}
