@import 'styles/shared';

.search-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;

  button {
    margin-bottom: 16px;
  }

  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 75%;
  }

  @include media-breakpoint-up(lg) {
    width: 100%;
  }
}
