@import 'styles/shared';

.container {
  margin: 40px 16px;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .game-title {
    margin: 16px 0;
  }

  .score-holder {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 20px;
    border: 1px solid gray;
    border-radius: 8px 8px;
    padding: 8px;
    .score {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      white-space: nowrap;
    }
    p {
      margin: 0;
    }
  }
}
