@import 'styles/shared';

.menu {
  background-color: $color-dark-violet;
  color: $color-white;
  font-family: $font;
  width: 80% !important;

  @include media-breakpoint-up(md) {
    width: 296px !important;
  }

  a {
    color: $font-color;

    &:hover {
      color: $font-color;
    }
  }
}

.overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.content {
  width: 100%;

  .item {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding-left: 16px;

    img {
      padding-right: 16px;
      width: 40px;
    }

    p {
      color: $color-white;
      margin-bottom: 0;
      font-size: 20px;
    }
  }

  .selected {
    background-color: $color-dark-dark-violet;
  }

  .logo-wrapper {
    width: 100%;
    height: 104px;
    background-color: $color-dark-dark-violet;
    display: flex;
    align-items: center;
    img {
      padding: 0 16px;
      width: 100%;
    }
  }
}
