@import 'styles/shared';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: $mobile-padding;
  @include media-breakpoint-up(md) {
    max-width: 994px;
    padding: $tablet-padding;
  }
  @include media-breakpoint-up(lg) {
    width: 994px;
    padding: $desktop-padding;
  }

  .errorMessage {
    p {
      color: $error-red;
      font-size: 16px;
      max-width: 520px;
      margin: 0;
      padding: 0;
    }
  }

  h1 {
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
    color: #43425d;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 520px;
    width: 100%;

    label {
      p {
        font-size: 16px;
        text-align: left;
        color: #43425d;
      }
    }
  }

  p {
    padding-top: 32px;
    opacity: 0.5;
    font-size: 24px;
    text-align: center;
    color: #4d4f5c;
  }

  button {
    margin-top: 8px;
    margin-bottom: 8px;
    max-width: 520px;
    @include media-breakpoint-up(md) {
      margin-top: 8px;
      margin-bottom: 16px;
    }
  }

  a {
    padding-top: 16px;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    color: #43425d;
  }
}
