@import 'styles/shared';

.delete {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  button {
    margin-bottom: 16px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.15);
  margin-bottom: 32px;
  background-color: $color-white;
}

.description {
  margin-top: 16px;
  font-size: 12px;
  line-height: 1.33;
  color: #a5a6ac;
}

.icon {
  width: 40px;
}
