@import 'styles/shared';

.container {
  max-width: 994px;
  margin: 0 auto;
}

.info-container {
  margin: 0 16px 0;
  @include media-breakpoint-up(md) {
    margin: 0 32px 0;
  }

  @include media-breakpoint-up(lg) {
    margin: 0 64px 0;
  }
}

.image-container {
  position: relative;

  img {
    width: 100%;
    max-height: 33vh;
    object-fit: cover;
  }

  button {
    position: absolute;
    @include media-breakpoint-up(md) {
      width: 160px;
      height: 56px;
      left: 32px;
      bottom: 24px;
    }

    @include media-breakpoint-up(lg) {
      width: 160px;
      height: 56px;
      left: 64px;
      bottom: 32px;
    }
  }

  margin-bottom: 32px;
}

.bullet-point-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 32px 0;
  @include media-breakpoint-up(md) {
    margin: 0 64px 0;
  }

  @include media-breakpoint-up(lg) {
    margin: 0 128px 0;
  }

  img {
    width: 56px;
    @include media-breakpoint-up(md) {
      width: 72px;
    }
    @include media-breakpoint-up(lg) {
      width: 80px;
    }
  }
}
