@import 'styles/shared';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  margin: 0 auto;
  box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.15);
  background-color: $color-white;
  overflow: scroll;
  max-height: $mobile-modal-max-height;
  @include media-breakpoint-up(md) {
    max-height: $tablet-modal-max-height;
    padding: 16px;
  }

  @include media-breakpoint-up(lg) {
    max-height: $desktop-modal-max-height;
  }
  .back-button {
    button {
      width: 100%;
    }
  }
  .buttons {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    button {
      margin: 16px 0;
    }
    @include media-breakpoint-up(md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 16px;
      button {
        margin: 0;
      }
    }
  }
}
