@import 'styles/shared';

.date-time {
  padding: 10px 0;
  input {
    width: 100%;
    height: 48px;
    border: 1px solid $color-light-grey;
    border-radius: 4px;

    &:focus {
      outline: none;
    }
  }
  width: 100%;
}
