@import 'styles/shared';

.container {
  width: 100%;
  box-shadow: $modal-box-shadow;
  background-color: $color-white;
  padding: 8px;
  overflow: scroll;
  max-height: $mobile-modal-max-height;
  @include media-breakpoint-up(md) {
    max-height: $tablet-modal-max-height;
  }

  @include media-breakpoint-up(lg) {
    max-height: $desktop-modal-max-height;
  }
  .back-button {
    button {
      width: 100%;
    }
  }
}
