@import '~react-dropdown/style';

.Dropdown-root {
  text-align: left;

  .Dropdown-control {
    min-height: 48px;
    padding: 12px;
    border: 1px solid $color-light-grey;
    border-radius: 4px;
    cursor: pointer;

    .Dropdown-arrow {
      background: url('/assets/dropdown-arrow.svg') no-repeat center bottom;
      border-style: none;
      width: 16px;
      height: 16px;
      right: 16px;
    }
  }

  &.is-selected {
    .Dropdown-control {
      border-color: $font-color;

      .Dropdown-arrow {
        background: url('/assets/dropdown-ok.svg') no-repeat center bottom;
        border-style: none;
        width: 16px;
        height: 16px;
        right: 16px;
      }
    }
  }

  .Dropdown-menu {
    border: 1px solid $color-light-grey;
    border-radius: 4px;

    .Dropdown-option {
      padding: 12px 16px;
      border-bottom: 1px solid $color-light-grey;

      &:last-child {
        border-bottom-style: none;
      }

      &:hover {
        background-color: $color-light-grey;
        cursor: pointer;
      }

      &.is-selected {
        background-color: inherit;
        color: inherit;

        &:hover {
          background-color: $color-light-grey;
        }
      }
    }
  }
}
