html {
  height: 100%;

  min-width: 320px;
  margin: 0 auto;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font;
  font-size: 16px;
  color: $font-color;
  background-color: $color-white;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
