@import '~video-react/styles/scss/video-react';
@import 'styles/shared';

.video-react {
  background-color: transparent;

  .video-react-big-play-button {
    border: none;
    font-size: 0;
    background: no-repeat center/100% url('/assets/BigPlayButton.svg');
    opacity: 0.95;
    width: 64px;
    height: 64px;

    @include media-breakpoint-up(md) {
      width: 120px;
      height: 120px;
    }

    @include media-breakpoint-up(lg) {
      width: 136px;
      height: 136px;
    }
  }

  .video-react-big-play-button.video-react-big-play-button-center {
    top: calc(50% - 32px);
    left: calc(50% - 32px);

    @include media-breakpoint-up(md) {
      top: calc(50% - 60px);
      left: calc(50% - 60px);
    }

    @include media-breakpoint-up(lg) {
      top: calc(50% - 68px);
      left: calc(50% - 68px);
    }
  }

  .video-react-poster {
    background-color: transparent;
    background-size: cover;
  }
}

.video-react:hover .video-react-big-play-button,
.video-react .video-react-big-play-button:focus {
  background-color: transparent;
}
