@import 'styles/shared';

.content {
  margin: 0 auto;
  width: 100%;
  padding: $mobile-padding;
  @include media-breakpoint-up(md) {
    padding: $tablet-padding;
    max-width: $nav-wrapper-width;
  }

  @include media-breakpoint-up(lg) {
    padding: $desktop-padding;
  }
}

.buttons {
  margin: 32px 0;

  button {
    margin-bottom: 16px;
  }
}

.tiles {
}

.modal {
  overflow: auto;
  outline: none;
  margin: 40px auto;
  padding: $mobile-padding;

  @include media-breakpoint-up(md) {
    padding: $tablet-padding;
    max-width: $nav-wrapper-width;
  }

  @include media-breakpoint-up(lg) {
    padding: $desktop-padding;
  }
}

.open-modal {
  -webkit-filter: blur(2px);
}
