@import 'styles/shared';

.edit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: white;
}

.content {
  width: 100%;
  box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.15);
  margin-bottom: 32px;
  background-color: $color-white;
}

.back-button {
  margin-bottom: 32px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.inputs {
  input {
    width: 100%;
  }
}

.description {
  font-size: 12px;
  line-height: 1.33;
  color: #a5a6ac;
}

.errorMessage {
  p {
    color: $error-red;
    font-size: 16px;
    max-width: 520px;
    margin: 0;
    padding: 0;
  }
}
