@import 'styles/shared';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: $mobile-padding;
  @include media-breakpoint-up(md) {
    max-width: 994px;
    padding: $tablet-padding;
  }
  @include media-breakpoint-up(lg) {
    width: 994px;
    padding: $desktop-padding;
  }
}

.search {
  input {
    width: 100%;
  }
}
