@import 'styles/shared';

.game {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px solid gray;
  padding: 16px 0 16px 8px;
  overflow: hidden;
  &.archived {
    background-color: $color-dark-grey;
    color: $color-white;
  }
  @include media-breakpoint-up(md) {
    flex-direction: row;
    height: 200px;
  }

  .image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 16px;
    &.archived {
      filter: grayscale(100%);
    }
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      margin-right: 12px;
      width: 300px;
      height: 100%;
      object-fit: cover;
    }
  }

  .info {
    width: 100%;

    p {
      margin: 0;
    }

    div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 32px;
      @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 8px;
      }

      p {
        margin: 0;
      }
    }
  }
}
