@import 'styles/shared';

.user {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  padding: 16px;
  border-bottom: 1px solid $color-light-grey;
  box-shadow: 0 4px 7px 1px $color-light-grey;
  border-radius: 4px;
  min-width: 254px;
  @include media-breakpoint-up(md) {
    align-items: flex-start;
    justify-content: center;
    height: 120px;
  }

  img {
    display: none;
    @include media-breakpoint-up(md) {
      display: inline;
    }

    border-radius: 50%;
    height: 100%;
    margin-right: 16px;
  }

  .info {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    @include media-breakpoint-up(md) {
      align-items: flex-start;
    }

    h2 {
      margin-bottom: 0;
    }

    p {
      margin-bottom: 0;
    }

    .wrapper {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      p {
        &:after {
          content: ' ';
          white-space: pre;
        }

        margin-bottom: 0;
        white-space: nowrap;
      }
    }
  }
}
