@import 'styles/shared';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 994px;
  margin: 0 auto;
  padding: 0 16px;
  @include media-breakpoint-up(md) {
    padding: 0 32px;
  }
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ranking {
  width: 100%;
  @include media-breakpoint-up(md) {
    width: 75%;
  }

  @include media-breakpoint-up(lg) {
    width: 100%;
  }
}

.search-box {
  width: 100%;
  padding: 16px 0;
}
