@import 'styles/shared';

.container {
  margin: 0 auto;
  padding: $mobile-padding;
  @include media-breakpoint-up(md) {
    max-width: 994px;
    padding: $tablet-padding;
  }
  @include media-breakpoint-up(lg) {
    width: 994px;
    padding: $desktop-padding;
  }
  .search {
    input {
      width: 100%;
    }
    .search-buttons {
      padding: 0;
      @include media-breakpoint-up(md) {
        padding: 0 16px;
      }
      @include media-breakpoint-up(lg) {
      }
    }
  }

  .games {
    padding: 16px 0 0;
    @include media-breakpoint-up(md) {
      padding: 24px 16px 0;
    }
    @include media-breakpoint-up(lg) {
    }
  }
}
