@import 'styles/shared';

.container {
  width: 100%;
  padding: 10px 0;

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
  }

  input {
    height: 48px;
    border: 1px solid $color-light-grey;
    border-radius: 4px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}
