@import 'styles/shared';

.item {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding-left: 16px;

  &:hover {
    text-decoration: none;
  }

  img {
    padding-right: 16px;
    width: 40px;
  }

  p {
    color: $color-white;
    margin-bottom: 0;
    font-size: 20px;
  }
}

.selected {
  background-color: $color-dark-dark-violet;
}
