@import 'styles/shared';
.playoff-creator {
  border-top: 3px solid black;
  .playoff-title {
  }
  .playoff-score {
    display: flex;
    justify-content: center;
    align-items: center;
    .vs {
      display: flex;
      margin: 0 16px;
      p {
        text-align: center;
        height: 16px;
      }
    }
  }
}
