@import 'styles/shared';

.container {
  width: 100%;
  box-shadow: $modal-box-shadow;
  background-color: $color-white;
  padding: 8px;
  overflow: scroll;
  max-height: $mobile-modal-max-height;
  @include media-breakpoint-up(md) {
    max-height: $tablet-modal-max-height;
  }

  @include media-breakpoint-up(lg) {
    max-height: $desktop-modal-max-height;
  }
  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .icon {
      width: 64px;
      height: 64px;
    }
  }
  button {
    margin: 16px 0;
  }
}
