@import 'styles/shared';

.header {
  z-index: 2147483647;
  position: fixed;
  top: 0;
  width: 100%;
}

.space {
  height: 48px;
}

.content {
  display: grid;
  grid-template-columns: minmax(32px, 79fr) minmax(32px, 3fr) 100px;
  grid-gap: 24px;
  padding: 0 16px;
  align-items: center;
  margin: 0 auto;
  background-color: $color-grey;
  height: 48px;
  @include media-breakpoint-up(md) {
    max-width: $nav-wrapper-width;
    padding: 0 32px;
  }

  @include media-breakpoint-up(lg) {
    width: $nav-wrapper-width;
    padding: 0 64px;
  }
}

.logo {
  cursor: pointer;
  text-align: center;
  margin-bottom: 0;
  img {
    width: 100%;
  }
}

.burger {
  height: 32px;
  cursor: pointer;
}

.notifications {
  height: 32px;
  cursor: pointer;
}
