@import 'styles/shared';
.invite {
  cursor: pointer;
  max-width: 450px;
  img {
    object-fit: cover;
  }
  .title {
    font-weight: 600;
  }
}
.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  word-break: break-all;
  &.received {
    align-items: flex-start;
    justify-content: flex-start;

    .content {
      background-color: #edf0f5;
      border-radius: 15px 30px 30px 0;
    }
  }

  &.sent {
    align-items: flex-end;
    justify-content: flex-end;

    .content {
      background-color: #3b86ff;
      color: $color-white;
      border-radius: 30px 30px 0 30px;
    }
  }

  .content {
    p {
      margin: 0 15px;
    }

    overflow: hidden;
    min-width: 200px;
    max-width: 50vw;

    img {
      width: 100%;
      max-height: 200px;
    }
  }
}
