@import 'styles/shared';

.content {
  display: flex;
  align-items: center;
  padding: 26px;
  box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.04);
  margin: 16px 0;
}

.icon {
  width: 60%;
}

.value {
  color: $color-violet;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}

.description {
  margin: 0;
}

.icon-border {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid $color-violet;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
