@import 'styles/shared';

.container {
  display: block;
  white-space: nowrap;
  margin: 0;
  position: relative;
  padding-left: 35px;
  padding-right: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: $font;
  font-size: 17px;
  color: $font-color;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .check-mark {
  background-color: #ccc;
}

.container input:checked ~ .check-mark {
  background-color: #2196f3;
}

.check-mark:after {
  content: '';
  position: absolute;
  display: none;
}

.container input:checked ~ .check-mark:after {
  display: block;
}

.container .check-mark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.sort {
  padding: 12px 0;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .container {
      margin: 8px 0;
    }
    @include media-breakpoint-up(md) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 16px;
      .container {
        margin: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 16px;
    }
  }
}
