@import 'styles/shared';

.content {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  padding: 16px;
  box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.04);
  margin: 16px 0;
}

.avatar {
  width: 50px;
  margin-right: 16px;
}

.info-container {
  margin-right: 16px;
  width: 100%;

  .login {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.31;
    color: #4d4f5c;
    margin-bottom: 0;
  }

  .last-message {
    display: flex;
    font-size: 11px;
    line-height: 1.18;
    color: #43425d;
    width: 100%;
    margin-bottom: 0;
    word-break: break-all;
  }
}

.date-container {
  width: 120px;

  .date {
    font-size: 11px;
    line-height: 1.18;
    color: #43425d;
  }
}

.new-message {
  position: absolute;
  background-color: $color-violet;
  width: 8px;
  height: 100%;
  left: 0;
  top: 0;
}
